.section {
  display: flex;
  justify-content: center;
  height: 8vh;
  /* border: 5px solid white; */
}
.nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.list {
  display: flex;
  justify-content: space-around;
  font-weight: bold;
  gap: 20px;
  font-size: 1.5rem;
}

.link:hover {
  color: aquamarine;
}
